body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 720px;
  margin: 0 auto;
  border: 0.5px dashed #ccc;
  padding: 1em;
  text-align: center;
}

.container h3 {
  color: #6b4225;
}

.game-grid {
  color: #fff;
  background-color: darkgreen;
  width: 100%;
  height: 400px;
}

.game-controls button {
  height: 3.2em;
  padding: 1em;
  width: 180px;
  background-color: #6b4225;
  color: white;
  cursor: pointer;
}

.game-controls button:hover {
  color: greenyellow;
  font-weight: 600;
}

.game-status {
  border: 1px dashed green;
  margin: 0.5em 0;
}

.game-timer-display {
  display: block;
  color: rgb(58, 57, 57);
  font-size: 0.9em;
  width: 100%;
  text-align: right;
  margin: 0.5em 0 0 0;
}

.game-grid-row {
  display: block;
  height: 33%;
}

.game-grid-row-hole {
  float: left;
  width: 31.4%;
  margin: 0.8%;
  height: 110px;
  border: 1px dotted #fff;
  overflow: hidden;
}

.mole-hole {
  position: relative;
  width: 99px;
  margin: 0 auto;
  background-image: url("../images/mole-pic.png");
  background-repeat: no-repeat;
  background-size: 124px;
  top: 120px;
  height: 0px;
  transition: all 0.3s ease-out;
}

.show-mole {
  top: 20px;
  height: 120px;
}
